.gallery ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.gallery li {
    font-size: 14px;
    line-height: 21px;
    color: #999;
    cursor: pointer;
}

.gallery .active,
.gallery li:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.grid-wrapper {
    max-width: 100%;
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}


.grid-wrapper img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.grid-wrapper .image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-wrapper img:hover {
    scale: 110%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 150px;
    }
}

@media (max-width: 480px) {
    .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-auto-rows: 120px;
    }
}


